$theme-colors: (
  "primary": #13a0aa,
  "primary-dark": #0d747c,
  "warning": #debb27,
  "danger": #ad1d28
);

$body-bg: #108a93;
$font-family-base: "Cabin", Arial, sans-serif;
$font-size-base: 0.875rem;
$line-height-base: 1.428571429;