@import "_custom-vars";

@import "node_modules/bootstrap/scss/bootstrap";

@import "https://fonts.googleapis.com/icon?family=Material+Icons|Lobster|Cabin";

.material-icons{
  &.md-12 { font-size: 12px; }
  &.md-18 { font-size: 18px; }
  &.md-24 { font-size: 24px; }
  &.md-36 { font-size: 36px; }
  &.md-48 { font-size: 48px; }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lobster', cursive;
}

.text-muted{
  color: #bbb !important;
}