@import "custom-vars";

@import "node_modules/bootstrap/scss/bootstrap";

@import "https://fonts.googleapis.com/icon?family=Material+Icons|Lobster|Cabin";

.material-icons{
  @each $size in (12, 18, 24, 36, 48) { &.md-#{$size} { font-size: #{$size}px; } }
}

@for $i from 1 through 6 { h#{$i} { font-family: 'Lobster', cursive; } }

.text-muted { color: map-get($theme-colors, "secondary") !important; }

a{
  color: #e8d069;
  &:hover { color: map-get($theme-colors, "warning"); }
}

.navbar{
  padding: 0;
  .navbar-brand { margin: 0.5rem 1rem; }
  .navbar-toggler {
    margin-top: 0.5 rem;
    margin-bottom: 0.5 rem;
    margin-right: 1rem;
    color: white !important;
    border-color: white !important;
  }
  .nav-link {
    padding: 0.5rem 1.2rem;
    color: white !important;
    &:hover{
      background-color: map-get($theme-colors, "danger-light");
    }
  }
}